
header {
      background-color:#d4af37a2;
      padding: 10px;
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
    }

nav {
      display: flex;
      flex-wrap: wrap;/*permite que los botones bajen en pantallas chiquitas*/
      background-color: rgba(237, 221, 168, 0.848);
      padding: 10px;
      gap: 10px;
      align-items: center;
      justify-content:center;
    }
nav button {
      background: none;
      border: 1px solid rgb(212,175,55);
      font-size: 1rem;
      cursor: pointer;
      padding: 8px 12px;
      transition: all 0.3s ease;
      border-radius: 8px;
    }
.main-content {
      width: 90%;
      max-width: 1200px;
      padding: 20px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;

    }

.evidencia {
      background: rgba(212, 175, 55, 0.51);
      padding: 15px;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 20px;
      text-align: center;
      font-size: 1rem;
    }

.textarea-message {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border-radius: 10px;
      min-height: 100px;
     resize: vertical;
    }
.logonav{
    width: 110px;
    height: auto;
    margin-right: 10px;
}
.perfil-img{
  width: 140px;
  height: 140px;
  object-fit:cover;
  border-radius: 50%;
  display: block;
}
.perfil-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
#profileUpload{ /*ocultar frase elegir archivo de usuario*/
  display: none;
}
.upload-label{/*La casilla de cambio estara encima del icono de usuario en transparente*/
  position: absolute;
  top: 0;
  left: 45%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  text-align:center;

}
/*Celulares y tabletas*/
@media(max-width:768px) {
nav{
  flex-direction: column;/*los botones quedan en linea vertical*/
}

nav button{
  width: 80%;
  font-size: 0.9rem;
}
}
body:before{
content:"overlay";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(/Imagenes/UNIPAZ.jpeg) center/cover no-repeat;
filter: brightness(1.0) /*blur(1px) desenfoca img seria a opcion*/;/*Ajusta la opacidad de la imagen, 1.2 un poco mas clara,
1.6 muy clara, 2.0 casi blanca*/
z-index: -1; /*Envia la img detras del contenido*/
opacity: 0.4;/*visibilidad del fondo de img*/
}
#contenedor {
  text-align: right;
}

#reloj {
  font-size: 2em;
  font-weight: bold;
}

#fecha {
  font-size: 1.5em;
  color: #232121;
  margin-top: 10px;
  font-weight: bold;
}

#estado {
  font-size: 0.9em;
  color: #383737;
  margin-top: 15px;
  
}
.dropdown{
  position:relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgb(10,40,120);
  z-index: 1;
  border-radius: 5px;
  max-height: 150px;/*desplazamiento*/
  overflow-y: auto;
}
.dropdown-content a{
  padding: 8px 12px;
  display: block;
  text-decoration: none;
  color: black;
}
.dropdown:hover .dropdown-content{
  display: block;
  background-color: rgba(212, 175, 55);
}
.dropdown button{
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
