.Layout {
display: grid;
gap: 4px;
grid-template-rows: 40px 40px 60px 60px 40px;
grid-template-columns: 1fr;
grid-template-areas: 'header' 'sidebar' 'main' 'widget' 'statistics' 'footer';
height: 100vh;
}
@media (min-width:480px){
    .Layout{
        display: grid;
        grid-template-rows: 40px auto 80px 40px;
        grid-template-columns: 160px auto auto;
        grid-template-areas: 'header header header'
        'sidebar main main'
        'sidebar widget statistics'
        'footer footer footer';
        
    }
}
header {
    grid-area: header;
    background: #f8832a;
    font-size: xx-large;
    font-weight: 250;
    text-align: center;
    
}


header nav ul{
    list-style: none;/*Elimina los puntos de la lista*/
    padding: 0;/*Elimina padding por defecto de la lista*/
    margin: 0;/*Elimina margen por defecto de la lista*/
}
header nav ul li {
    display: inline-block;/*Permite que los elementos de la lista dispongan en la linea*/
    margin-right: 15px; /*Espacio entre los enlaces*/
}
header nav ul li a {
    text-decoration: none;/*Elimina el subrayado de los enlaces*/
}
/*Ocultar el submenu por defecto*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(242, 166, 52);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255, 201, 107);
    z-index: 1;
}
/*mostrar el submenu al pasar el raton*/
.dropdown:hover .dropdown-content{
    display: block;
}
/*Estilos adicionales (opcionales)*/
.dropdown-content a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgb(255, 227, 178);
}
footer {
    grid-area: footer;
    background: #e6985c;
}
nav {
    grid-area: sidebar;
    background: #f7ccac;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;


}
main {
    grid-area: main;
    background: #f7ccac;
}
.widget {
    grid-area: widget;
    background-color: #e6985c;
    width: 100%;
}
.statistics {
    grid-area: statistics;
    background-color:#e6985c;
    width: 100%;
}
.logo{
    width: 150px;
    height: 150px;
  filter: drop-shadow( 1px 1px 20px orange);
  border-radius: 50%;
}
